.cbp-hrmenu {
	width: 100%;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 1em;
	border-bottom: 1px solid #47a3da;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 90%;
	margin: 0 auto;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a {
	padding: 1em 1em;
	color: #47a3da;
	display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #317298;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #317298;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0;
	text-decoration: none;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #fff;
	width: 100%;
	left: 0;
	opacity: 1;
	border-radius: 3px;
	z-index: 100;
	box-shadow: 3px 3px 5px #000;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
	padding-top: 2em;
	padding-left: 0;
}

.cbp-hrmenu .cbp-hrsub-inner > .nav-bar-category-img {
	width: 25%;
	float: left;
	padding-right: 20px;
}
.nav-bar-category-img > a >  img{
	box-shadow: 2px 2px 4px #000;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}

.cbp-hrsub h4 {
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}
.nav-click-list{
	float: left;
	width: 210px;
}
/* Examples for media queries */

@media screen and (max-width: 52.75em) {

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) {

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #47a3da;
	}

	.cbp-hrmenu > ul > li > a {
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub {
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) {
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}
